@page
@model Frontend.Pages.EditArbModel
@{
    ViewData["Title"]="Edit";
}

<h1>Editar Arbitros </h1>
<h4>Arbitro</h4>
<h3 class="text-danger">@ViewData["Mensaje"]</h3>

<div class="form-horizontal">
        
        <hr />
        
        <div class="row">
           <div class="col-md-4">
               <form method="post">
                  
                   <input type="hidden" asp-for="Arbitro.id" />
                   <div class="form-group">
                    <label asp-for="Arbitro.Documento" class="control-label"></label>
                    <input asp-for="Arbitro.Documento" class="form-control" readonly/>
                    <label asp-for="Arbitro.Nombres" class="control-label"></label>
                    <input asp-for="Arbitro.Nombres" class="form-control" />
                    <label asp-for="Arbitro.Apellidos" class="control-label"></label>
                    <input asp-for="Arbitro.Apellidos" class="form-control" />
                    <label asp-for="Arbitro.Genero" class="control-label"></label>
                    <input asp-for="Arbitro.Genero" class="form-control" />
                    <label asp-for="Arbitro.Disciplina" class="control-label"></label>
                    <input asp-for="Arbitro.Disciplina" class="form-control" />
                    <label asp-for="Arbitro.TorneoId" class="control-label">Torneo</label>
                    <select asp-for="Arbitro.TorneoId" class="form-control"> 
                             <option value="" >**Selecione un Torneo**</option>
                             @foreach (var tor in Model.Torneo)
                              {
                                   <option value="@tor.id">@tor.Nombre</option>
                              }
                         </select> 
                    <label asp-for="Arbitro.EscuelaArbitroId" class="control-label">Escuela Arbitro</label>
                    <select asp-for="Arbitro.EscuelaArbitroId" class="form-control"> 
                              <option value="" >**Selecione una Escuela>**</option>
                                @foreach (var EA in Model.EscuelaArbitro)
                                 {
                                      <option value="@EA.id">@EA.Nombre</option>
                                 }
                         </select>                
                       
                   </div>
                   <div class="form-group">                       
                       <input type="submit" value="Editar" class="btn btn-primary"/>                       
                   </div>
               </form>
           </div>
        </div>

        <div>
            <a asp-page="ArbIndex"> Ir a Inicio</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}



