@page
@model Frontend.Pages.CreateArbModel
@{
    ViewData["title"]="Create";
}
<br>
<br>
<br>
<br>

<h1>Crear arbitro</h1>
<h3 class="text-danger">@ViewData["Mensaje"]</h3>

<div class="form-horizontal">
    <hr/>
    <div class="row">
        <div class=col-md-4>
            <form method="POST">
                <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
                <div class="form-group">
                    <label asp-for="Arbitro.Documento" class="control-label"></label>
                    <input asp-for="Arbitro.Documento" class="form-control" />
                    <span asp-validation-for="Arbitro.Documento" class="text-danger"></span>
                    <label asp-for="Arbitro.Nombres" class="control-label"></label>
                    <input asp-for="Arbitro.Nombres" class="form-control" />
                    <span asp-validation-for="Arbitro.Nombres" class="text-danger"></span>
                    <label asp-for="Arbitro.Apellidos" class="control-label"></label>
                    <input asp-for="Arbitro.Apellidos" class="form-control" />
<<<<<<< HEAD:Frontend/Pages/PEDArbitro/CreateArb.cshtml
                    <span asp-validation-for="Arbitro.Apellidos" class="text-danger"></span>
                    <label asp-for="Arbitro.Genero" class="control-label"></label>
=======
                    <label asp-for="Arbitro.Genero" class="control-label">Género</label>
>>>>>>> a4a6cf4fae1c6d05301b84149df33ffaa2f4610e:Frontend/Pages/Arbitro/CreateArb.cshtml
                    <input asp-for="Arbitro.Genero" class="form-control" />
                    <span asp-validation-for="Arbitro.Genero" class="text-danger"></span>
                    <label asp-for="Arbitro.Disciplina" class="control-label"></label>
                    <input asp-for="Arbitro.Disciplina" class="form-control" />
                    <span asp-validation-for="Arbitro.Disciplina" class="text-danger"></span>
                    <label asp-for="Arbitro.TorneoId" class="control-label">Torneo</label>
<<<<<<< HEAD:Frontend/Pages/PEDArbitro/CreateArb.cshtml
                    <select asp-for="Arbitro.TorneoId" class="form-control"> 
                        <option value="" >**Selecione un Torneo**</option>
                        @foreach (var tor in Model.Torneo)
                        {
                            <option value="@tor.id">@tor.Nombre</option>
                        }
                    </select>
                    <span asp-validation-for="Arbitro.TorneoId" class="text-danger"></span>
                    <label asp-for="Arbitro.EscuelaArbitroId" class="control-label">EscuelaArbitro</label>
=======
                    <input asp-for="Arbitro.TorneoId" class="form-control" />
                    <label asp-for="Arbitro.EscuelaArbitroId" class="control-label">Escuela de arbitros</label>
>>>>>>> a4a6cf4fae1c6d05301b84149df33ffaa2f4610e:Frontend/Pages/Arbitro/CreateArb.cshtml
                    <select asp-for="Arbitro.EscuelaArbitroId" class="form-control"> 
                        <option value="" >**Selecione una Escuela**</option>
                        @foreach (var EA in Model.EscuelaArbitro)
                        {
                            <option value="@EA.id">@EA.Nombre</option>
                        }
                    </select>
                    <span asp-validation-for="Arbitro.EscuelaArbitroId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <br>
                    <input type="submit" value="Crear" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
    <br>
    <div>
        <a asp-page="ArbIndex">Volver</a>
    </div>
</div>
@section Scripts
{
    @{
       await Html.RenderPartialAsync("_ValidationScriptsPartial"); 
    }
}