@page
@model Frontend.Pages.TorEquDeleteModel
@{
     ViewData["Title"]="Delete";
}
<h1>Borrar Equipo Inscrito al Torneo</h1>
<h4>Equipo</h4>
<h2 class="text-danger">@ViewData["Mensaje"] </h2>
<div class="form-horizontal">        
        <hr />        
        <div class="row">
           <div class="col-md-4">
               <form method="post">                   
                   <input type="hidden" asp-for="TorneoEquipo.TorneoId" asp-for="TorneoEquipo.EquipoId" />
                   <div class="form-group">
                
                    <label asp-for="TorneoEquipo.TorneoId" class="control-label">Torneo</label>
                    <select name="" id="" asp-for="TorneoEquipo.TorneoId" class="form-control" disable>
                        <option value="">**Seleccione un Torneo**</option>
                        @foreach (var tor in Model.Torneos)
                        {
                            <option value="@tor.id">@tor.Nombre</option>
                        }
                    </select>

                    <label asp-for="TorneoEquipo.EquipoId" class="control-label">Equipo</label>
                    <select name="" id="" asp-for="TorneoEquipo.EquipoId" class="form-control" disable>
                        <option value="">**Seleccione un Equipo**</option>
                        @foreach (var equ in Model.Equipos)
                        {
                            <option value="@equ.id">@equ.Nombre</option>
                        }
                    </select>

                   </div>
                   <div class="form-group">                       
                       <input type="submit" value="Eliminar" class="btn btn-primary"/>                       
                   </div>
               </form>
           </div>
        </div>

        <div>
            <a asp-page="TorEquIndex"> Ir a Inicio</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


