@page
@model Frontend.Pages.CEIndexModel
@{
    ViewData ["Title"]="CEIndex";
}
<h1>Listado de Entrenadores</h1>
<p>
    <a asp-page="CreateCE" class="btn btn-success">Crear CanchaEspacio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Disciplina</th>
            <th>Estado</th>
            <th>CapacidadEspectadores</th>
            <th>Medidas</th>
            <th>Escenario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var canesp in Model.CanchaEspacioView)
        {
            <tr>
                <td>@canesp.id</td>
                <td>@canesp.Nombre</td>
                <td>@canesp.Disciplina</td>
                <td>@canesp.Estado</td>
                <td>@canesp.CapacidadEspectadores</td>
                <td>@canesp.Medidas</td>
                <td>@canesp.Escenario</td>
                <td>
                    <a asp-page="./EditCE" asp-route-id="@canesp.id" class="btn btn-primary">Editar</a>
                    <a asp-page="./DeleteCE" asp-route-id="@canesp.id" class="btn btn-warning">Eliminar</a>
                    <a asp-page="./DetailsCE" asp-route-id="@canesp.id" class="btn btn-info">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>

